/* div {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  background-color: blueviolet;
} */

/* * {
  color: red;
} */

/* li {
  color: red;
}

.orange {
  color: orange;
}

#apple {
  color: green;
} */
